<!-- <router-outlet /> -->

<mat-toolbar class="app-toolbar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="ms-2">Ng Material 19</span>
  <span class="flex-1"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container mx-auto py-6">
  <div class="mb-4">
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  </div>

  <div class="mb-4 flex flex-col item-center justify-center">
    <mat-checkbox class="Check1" checked>Check 1</mat-checkbox>
    <mat-checkbox class="Check2" checked>Check 2</mat-checkbox>
    <mat-checkbox class="Check3" checked>Check 3</mat-checkbox>
    <mat-checkbox class="Check4" checked>Check 4</mat-checkbox>
  </div>

  <div class="mb-4 flex flex-col item-center justify-center">
    <mat-radio-group class="btn-radio">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="mb-6">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="flex flex-col w-6/12">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Gender</mat-label>
      <mat-select>
        <mat-option value="m">Male</mat-option>
        <mat-option value="f">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <div class="flex justify-end w-full">
      <button class="btn-submit" mat-flat-button (click)="openSnackBar()">
        Submit
      </button>
    </div>
  </div>
</div>
